@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-bg-primary: 34 38 42;
    --color-bg-secondary: 200 200 200 1;
    --color-bg-linear: 27 30 34;
    --color-text-primary: 255 255 255;
    --color-test-gray: 156 163 175;
    --color-primary: 230 0 69;
    --color-primary2: 230 0 69;

    --color-secondary: 40 0 230;

    --header-height: 4rem;
  }
}

html {
  @apply scrollbar-thin scroll-smooth;
}
h2 {
  @apply text-3xl font-bold text-textPrimary uppercase flex flex-wrap;
}

.no-scroll {
  overflow: hidden;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: rgba(230, 0, 69, 0.7);
  border-radius: 9999px; /* Full rounded corners */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: rgba(27, 30, 34, 0);
  border-radius: 9999px; /* Full rounded corners */
}

.glass-effect {
  background: rgba(50, 50, 50, 0.2);
  backdrop-filter: blur(16px);
  /* border-radius: 16px; */
  border: 1px solid rgba(200, 200, 200, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
.button-effects {
  @apply transition-all duration-150 glass-effect hover:bg-primaryColor/50 active:scale-95 select-none;
}

.modal-backdrop-enter-active,
.modal-backdrop-leave-active {
  transition: opacity 0.3s ease;
}

.modal-backdrop-enter-from,
.modal-backdrop-leave-to {
  opacity: 0;
}

.modal-backdrop-enter-to,
.modal-backdrop-leave-from {
  opacity: 1;
}
